<nav class = 'navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-5'>
    <a class = 'navbar-brand navigation-css-transition' ng-click = 'sidebarHide =! sidebarHide; sidebarToggle()'>
        <img ng-src = '{{logoSrc}}' class = 'd-inline-block'/>
        <div class="d-inline-block">
            <span class = 'd-none d-sm-block'>
                <span class='text-white' translate='AGS_TEXTILES_LIMITED'></span>
                <span class='text-warning font-size-reduce-40' translate='AGS_TEXTILES_ADDRESS'></span>
            </span>
        </div>
    </a>
    <button type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navigationCollapse'>
        <span class = 'navbar-toggler-icon'></span>
    </button>
    <div class = 'collapse navbar-collapse' id = 'navigationCollapse'>
        <!-- Hide this section when the screen size is bigger than small -->
        <ul class = 'navbar-nav d-sm-none'>
            <li class = 'nav-item'>
                <a ui-sref = 'home' ui-sref-active = 'active' class = 'nav-link' translate = "HOME"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'attendance' ui-sref-active = 'active' class = 'nav-link' translate = "ATTENDANCE"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'total-salary' ui-sref-active = 'active' class = 'nav-link' translate = "TOTAL_SALARY"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'management' ui-sref-active = 'active' class = 'nav-link' translate = "MANAGEMENT"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'admin-staff' ui-sref-active = 'active' class = 'nav-link' translate = "ADMIN_STAFF"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'production-staff' ui-sref-active = 'active' class = 'nav-link' translate = "PRODUCTION_STAFF"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'sewing-operator' ui-sref-active = 'active' class = 'nav-link' translate = "SEWING_OPERATOR"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'sewing-helper' ui-sref-active = 'active' class = 'nav-link' translate = "SEWING_HELPER"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'cutting' ui-sref-active = 'active' class = 'nav-link' translate = "CUTTING"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'quality' ui-sref-active = 'active' class = 'nav-link' translate = "QUALITY"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'finishing' ui-sref-active = 'active' class = 'nav-link' translate = "FINISHING"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'loader-cleaner' ui-sref-active = 'active' class = 'nav-link' translate = "LOADER_CLEANER"></a>
            </li>
            <li class = 'nav-item'>
                <a ui-sref = 'settings' ui-sref-active = 'active' class = 'nav-link' translate = "SETTINGS"></a>
            </li>
        </ul>
        <!-- English/Bengaai Translation Option -->
        <ul class = 'navbar-nav ml-auto d-none d-sm-block'>
            <div class="d-inline-block">
                <language-selector></language-selector>
            </div>
            <div class="d-inline-block">
                <theme-selector></theme-selector>
            </div>
        </ul>
    </div>
</nav>