<table class="table table-bordered text-center table-hover">
    <h4 class='my-3 text-center'>{{ 'TOTAL_SALARY' | translate}}</h4>
    <thead class = 'thead-light'>
        <tr>
            <th>{{'SL_NO' | translate}}</th>
            <th>{{'SECTION' | translate}}</th>
            <th>{{'TOTAL_SALARY' | translate}}</th>
            <th>{{'PAYABLE' | translate}}</th>
            <th>{{'OVERTIME' | translate}}</th>
            <th>{{'ATTENDANCE_BONUS' | translate}}</th>
            <th>{{'TOTAL_HOURS' | translate}}</th>
            <th>{{'TOTAL_PERSONS' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{'1' | numberTranslate:language}} </td>
            <td> {{'MANAGEMENT' | translate}} </td>
            <td> {{'200000' | numberTranslate:language}} </td>
            <td> {{'200000' | numberTranslate:language}} </td>
            <td> {{'7,065' | numberTranslate:language}} </td>
            <td> {{'1000' | numberTranslate:language}} </td>
            <td> {{'219' | numberTranslate:language}} </td>
            <td> {{'5' | numberTranslate:language}} </td>
        </tr>
    </tbody>
</table>