<table class="table table-bordered text-center table-hover">
    <thead class = 'thead-light'>
        <tr>
            <th>{{'SL_NO' | translate}}</th>
            <th>{{'SECTION' | translate}}</th>
            <th>{{'TOTAL_SALARY' | translate}}</th>
            <th>{{'PAYABLE' | translate}}</th>
            <th>{{'OVERTIME' | translate}}</th>
            <th>{{'ATTENDANCE_BONUS' | translate}}</th>
            <th>{{'TOTAL_HOURS' | translate}}</th>
            <th>{{'TOTAL_PERSONS' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 1 </td>
            <td> Managemet Staff </td>
            <td> 200000 </td>
            <td> 200000 </td>
            <td> 7,065 </td>
            <td> 1000 </td>
            <td> 219 </td>
            <td> 5 </td>
        </tr>
    </tbody>
</table>