<h4 class = 'table-header'>{{currentPageName | translate}} {{':' | translate}} {{ 'MONEY_DISTRIBUTION_SHEET' | translate}}</h4>
<table class = 'table table-hover table-bordered table-sm font-size-reduce-20 salary-distribution-table my-3' id = '{{tableId}}'>
    <caption>{{currentPageName | translate}} {{':' | translate}} {{ 'MONEY_DISTRIBUTION_SHEET' | translate}}</caption>
    <thead class="text-center">
        <tr>
            <th>{{'BRANCH' | translate}} {{':' | translate}} {{currentPageName | translate}}</th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th>{{'MONTH' | translate}}{{':' | translate}} </th>
            <th>{{'JULY' | translate}}</th>
            <th></th>

            <th></th>
            <th>
                {{'PRINT' | translate}} 
                {{'DATE' | translate }} 
                {{":" | translate}} 
                {{'06/02/2018' | numberTranslate:language}}
            </th>
            <th></th>
            <th>{{ '2018' | numberTranslate:language }}</th>

            <th></th>
            <th>{{'YEAR' | translate}}</th>
            <th></th>
            <th></th>

            <th></th>
            <th>{{'MONEY_DISTRIBUTION' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <thead class="text-center">
        <tr>
            <td rowspan = '2'>
                {{'WORKER_NO' | translate}}
            </td>
            <td rowspan = '2'>
                {{'CARD_NO' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'NAME' | translate}}
            </td>
            <td rowspan = '2'>
                {{'GRADE' | translate}}
            </td>
            <td rowspan = '2'>
                {{'JOINING_DATE' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'ASSIGNED' | translate}} 
            </td>
            <td colspan = '3'>
                {{'ATTENDANCE' | translate}}  
            </td>
            <td rowspan = '2'>
                {{'OVERTIME_HOURS' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'EXTENDED_HOLIDAYS' | translate}}
            </td>
            <td rowspan = '2'>
                {{'HOLIDAY' | translate}} 
            </td>
            <td colspan = '7'>
                {{'DISTRIBUTION_TYPE' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'OVERTIME_MONEY' | translate}}
            </td>
            <td rowspan = '2'>
                {{'HAJIRA_BONUS' | translate}}
            </td>
            <td rowspan = '2'>
                {{'TOTAL_DISTRIBUTED' | translate}}
            </td>
            <td colspan = '4'>
                {{'CUT_OUT' | translate}}
            </td>
            <td rowspan = '2'>
                {{'MONEY_RECEIVED' | translate}}
            </td>
            <td rowspan = '2'>
                {{'SIGNATURE' | translate }}
            </td>
        </tr>
        <tr>
            <td>{{'PRESENT' | translate}}</td>
            <td>{{'ABSENT' | translate }}</td>
            <td>{{'OTHERS' | translate }}</td>

            <td>{{'MAIN_SALARY' | translate}}</td>
            <td>{{'HOME_RENT' | translate}}</td>
            <td>{{'MEDICAL_COST' | translate}}</td>
            <td>{{'TRANSPORT_COST' | translate}}</td>
            <td>{{'FOOD' | translate}}</td>
            <td>{{'OTHER_COMPANY_FACILITIES' | translate}}</td>
            <td>{{'TOTAL_SALARY' | translate}}</td>

            <td>{{'ABSENT' | translate }}</td>
            <td>{{'ADVANCED_OTHERS' | translate}}</td>
            <td>{{'REVENUE' | translate}}</td>
            <td>{{'TOTAL' | translate}}</td>
        </tr>
    </thead>
    <tbody class="table-data" ng-repeat="employee in employeeData">
        <tr>
            <td data-head="{{'WORKER_NO' | translate}}">
                <span>{{ employee.id }}</span>
            </td>
            <td data-head="{{'CARD_NO' | translate}}">
                <span>{{ employee.card_no }}</span>
            </td>
            <td data-head="{{'NAME' | translate}}">
                <span>{{ employee.fullname }}</span>
            </td>
            <td data-head="{{'GRADE' | translate}}">
                <span>{{ employee.grade }}</span>
            </td>
            
            <td data-head="{{'JOINING_DATE' | translate}}">
                <span>{{ employee.joining_date }}</span>
            </td>
            <td data-head="{{'ASSIGNED' | translate}}"></td>
            <td data-head="{{'PRESENT' | translate}}"></td>
            <td data-head="{{'ABSENT' | translate }}"></td>
            
            <td data-head="{{'OTHERS' | translate }}"></td>
            <td data-head="{{'OVERTIME_HOURS' | translate}}"></td>
            <td data-head="{{'EXTENDED_HOLIDAYS' | translate}}"></td>
            <td data-head="{{'HOLIDAY' | translate}}"></td>
            
            <td data-head="{{'MAIN_SALARY' | translate}}">
                <span>{{ employee.main_salary }}</span>
            </td>
            <td data-head="{{'HOME_RENT' | translate}}">
                <span>{{ employee.home_rent }}</span>
            </td>
            <td data-head="{{'MEDICAL_COST' | translate}}">
                <span>{{ employee.medical_cost }}</span>
            </td>
            <td data-head="{{'TRANSPORT_COST' | translate}}">
                <span>{{ employee.transport_cost }}</span>
            </td>
            
            <td data-head="{{'FOOD' | translate}}">
                <span>{{ employee.food_cost }}</span>
            </td>
            <td data-head="{{'OTHER_COMPANY_FACILITIES' | translate}}">
                <span>{{ employee.other_company_facilities }}</span> 
            </td>
            <td data-head="{{'TOTAL_SALARY' | translate}}">
                <span>{{ employee.total_salary }}</span>
            </td>
            <td data-head="{{'OVERTIME_MONEY' | translate}}"></td>
            
            <td data-head="{{'HAJIRA_BONUS' | translate}}"></td>
            <td data-head="{{'TOTAL_DISTRIBUTED' | translate}}"></td>
            <td data-head="{{'ABSENT' | translate }}"></td>
            <td data-head="{{'ADVANCED_OTHERS' | translate}}"></td>
            
            <td data-head="{{'REVENUE' | translate}}"></td>
            <td data-head="{{'TOTAL' | translate}}"></td>
            <td data-head="{{'MONEY_RECEIVED' | translate}}"></td>
            <td data-head="{{'SIGNATURE' | translate }}"></td>
        </tr>
    </tbody>
</table>