<table class = 'table table-hover table-bordered table-sm text-center font-size-reduce-20 table-responsive' id = '{{tableId}}'>
    <h4 class = 'my-3 text-center'>{{ 'MONEY_DISTRIBUTION_SHEET' | translate}}</h4>
    <thead>
        <tr>
            <th>{{'BRANCH' | translate}} {{':' | translate}} {{'MANAGEMENT' | translate}}</th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
            <th>{{'MONTH' | translate}}{{':' | translate}} </th>
            <th>{{'JULY' | translate}}</th>
            <th></th>

            <th></th>
            <th>
                {{'PRINT' | translate}} 
                {{'DATE' | translate }} 
                {{":" | translate}} 
                {{'06/02/2018' | numberTranslate:language}}
            </th>
            <th></th>
            <th>{{ '2018' | numberTranslate:language }}</th>

            <th></th>
            <th>{{'YEAR' | translate}}</th>
            <th></th>
            <th></th>

            <th></th>
            <th>{{'MONEY_DISTRIBUTION' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr>
            <td rowspan = '2'>
                {{'WORKER_NO' | translate}}
            </td>
            <td rowspan = '2'>
                {{'CARD_NO' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'NAME' | translate}}
            </td>
            <td rowspan = '2'>
                {{'GRADE' | translate}}
            </td>
            <td rowspan = '2'>
                {{'JOINING_DATE' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'ASSIGNED' | translate}} 
            </td>
            <td colspan = '3'>
                {{'ATTENDANCE' | translate}}  
            </td>
            <td rowspan = '2'>
                {{'OVERTIME_HOURS' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'EXTENDED_HOLIDAYS' | translate}}
            </td>
            <td rowspan = '2'>
                {{'HOLIDAY' | translate}} 
            </td>
            <td colspan = '7'>
                {{'DISTRIBUTION_TYPE' | translate}} 
            </td>
            <td rowspan = '2'>
                {{'OVERTIME_MONEY' | translate}}
            </td>
            <td rowspan = '2'>
                {{'HAJIRA_BONUS' | translate}}
            </td>
            <td rowspan = '2'>
                {{'TOTAL_DISTRIBUTED' | translate}}
            </td>
            <td colspan = '4'>
                {{'CUT_OUT' | translate}}
            </td>
            <td rowspan = '2'>
                {{'MONEY_RECEIVED' | translate}}
            </td>
            <td rowspan = '2'>
                {{'SIGNATURE' | translate }}
            </td>
        </tr>
        <tr>
            <td>{{'PRESENT' | translate}}</td>
            <td>{{'ABSENT' | translate }}</td>
            <td>{{'OTHERS' | translate }}</td>

            <td>{{'MAIN_SALARY' | translate}}</td>
            <td>{{'HOME_RENT' | translate}}</td>
            <td>{{'MEDICAL_COST' | translate}}</td>
            <td>{{'TRANSPORT_COST' | translate}}</td>
            <td>{{'FOOD' | translate}}</td>
            <td>{{'OTHER_COMPANY_FACILITIES' | translate}}</td>
            <td>{{'TOTAL_SALARY' | translate}}</td>

            <td>{{'ABSENT' | translate }}</td>
            <td>{{'ADVANCED_OTHERS' | translate}}</td>
            <td>{{'REVENUE' | translate}}</td>
            <td>{{'TOTAL' | translate}}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>