<div class="container-fluid" ng-controller = 'cuttingCtrl'>
    <div class="row">
        <div class="col">
            <print-button></print-button>
            <button class="btn btn-success" ng-click="exportToExcel(tableId, worksheetName)">
                <i class="fa fa-file-excel-o"></i>
            </button>
            <salary-distribution-table  print-section table-id='tableId' 
                                        current-page-name = 'currentPageName'
                                        language='language'>
            </salary-distribution-table>
        </div>
    </div>
</div>