@media screen
and (max-width: 730px){
    .overall-table{
        border: none;
        thead, tbody, tr, td, th{
            border: none
        }
        thead{
            th{
                display: none;
            }
        }
        tbody{
            tr{
                td{
                    position: relative;
                    display: block;
                    left: 50%;
                    text-align: right;
                }  
                td:before{
                    position: absolute;
                    content: attr(data-head);
                    white-space: nowrap;
                    left: -50%;
                    text-align: left;
                }
            }
        }
    }
}