.sticky-utility-bar{
    position: absolute;
    top: 40%;
    right: 0%;
    .sticky-utility, .sticky-utility-button{
        opacity: 0.8;
        z-index: -10;
    }
    .sticky-utility-button.ng-hide-add{
        opacity: 0;
    }

    .sticky-utility.ng-hide-add{
        animation: sticky-utility-hide;
    }

    .sticky-utility{
        animation: sticky-utility-show;
    }

    @keyframes sticky-utility-hide{
        0%{
            right: 0;
        }100%{
            right: -100%;
        }
    }

    @keyframes sticky-utility-show{
        0%{
            right: -100%;
        }100%{
            right: 0;
        }
    }

}