//First $dark represents the themes Name
// Primary, secondary represents the color
// Lighten lightens the color
// Darken darkens the color

$dark-primary:       #263238;
$dark-secondary:     #4a148c;
$dark-success:       #004d40;
$dark-info:          #006064;
$dark-warning:       #fb8c00;
$dark-danger:        #880e4f;
$dark-light:         #e1f5fe;
$dark-dark:          #000a12;

$dark-primary-lighten:       lighten($dark-primary, 10%);
$dark-secondary-lighten:     lighten($dark-secondary, 10%);
$dark-success-lighten:       lighten($dark-success, 10%);
$dark-info-lighten:          lighten($dark-info, 10%);
$dark-warning-lighten:       lighten($dark-warning, 10%);
$dark-danger-lighten:        lighten($dark-danger, 10%);
$dark-light-lighten:         lighten($dark-light, 10%);
$dark-dark-lighten:          lighten($dark-light, 10%);

$dark-primary-darken:       darken($dark-primary, 10%);
$dark-secondary-darken:     darken($dark-secondary, 10%);
$dark-success-darken:       darken($dark-success, 10%);
$dark-info-darken:          darken($dark-info, 10%);
$dark-warning-darken:       darken($dark-warning, 10%);
$dark-danger-darken:        darken($dark-danger, 10%);
$dark-light-darken:         darken($dark-light, 10%);
$dark-dark-darken:          darken($dark-light, 10%);

$dark-colors: (
    primary: $dark-primary,
    secondary: $dark-secondary,
    success: $dark-success,
    info: $dark-info,
    warning: $dark-warning,
    danger: $dark-danger,
    light: $dark-dark,
    dark: $dark-dark
    );
    
$dark-darken-colors: (
    primary: $dark-primary-darken,
    secondary: $dark-secondary-darken,
    success: $dark-success-darken,
    info: $dark-info-darken,
    warning: $dark-warning-darken,
    danger: $dark-danger-darken,
    light: $dark-dark-darken,
    dark: $dark-dark-darken
    );

$dark-lighten-colors: (
    primary: $dark-primary-lighten,
    secondary: $dark-secondary-lighten,
    success: $dark-success-lighten,
    info: $dark-info-lighten,
    warning: $dark-warning-lighten,
    danger: $dark-danger-lighten,
    light: $dark-dark-lighten,
    dark: $dark-dark-lighten
    );

@function get-dark-color($color){
    @return map-get($dark-colors, $color);
}

@function get-dark-darken-color($color){
    @return map-get($dark-darken-colors, $color);
}

@function get-dark-lighten-color($color){
    @return map-get($dark-lighten-colors, $color);
}

@each $key, $value in $dark-colors{
    .dark{
        .border-#{$key}{
            border-color: $value !important; }

        .text-#{$key}{
        color: $value !important; }

        .bg-#{$key}{
        background-color: $dark-primary !important; }
    }
}

@each $key, $value in $dark-darken-colors{
    .dark{
        a.text-#{$key}:hover, a.text-#{$key}:focus {
        color: $value !important; }
        
        a.bg-#{$key}:hover, a.bg-#{$key}:focus,
        button.bg-#{$key}:hover,
        button.bg-#{$key}:focus {
        background-color: $value !important; }
    }
}

@each $key, $value in $dark-lighten-colors{
    .dark{
        .table-#{$key},
        .table-#{$key} > th,
        .table-#{$key} > td {
        background-color: $dark-primary-lighten; }
        
        .table-hover .table-primary:hover {
            background-color: get-dark-color($key); 
        }
        .table-hover .table-primary:hover > td,
        .table-hover .table-primary:hover > th {
            background-color: get-dark-color($key); 
        }
        .table-active,
        .table-active > th,
        .table-active > td {
            background-color: get-dark-darken-color($key) 
        }
    }
}