<span ng-controller = 'languageSelectorCtrl'>
    <div>
        <div class="text-dark my-1">
            {{ 'TRANSLATE' | translate }}
        </div>
        <button type='btn' class='btn btn-success rounded' ng-click='languageEnglish()'>
            <span class = 'font-size-reduce-10'>
                {{'EN' | translate}}
            </span>
        </button>
        <button type='btn' class='btn btn-warning rounded' ng-click='languageBengali()'>
            <span class = 'font-size-reduce-10'>
                {{'BN' | translate}}
            </span>
        </button>
    </div>
</span>