<div class="my-3 d-inline-block">
    <button class="btn btn-primary rounded-circle sticky-utility-button" ng-click="stickyHide =! stickyHide" ng-show="stickyHide">
        <i class="fa fa-chevron-circle-left"></i>
    </button>
</div>
<div class="bg-white sticky-utility border box-shadow d-inline-block" ng-hide="stickyHide">
    <div class="my-3 p-3">
        <button class="btn btn-danger rounded-circle sticky-utility-button" ng-click="stickyHide =! stickyHide">
            <i class="fa fa-chevron-circle-right"></i>
        </button>
        <div class="my-3">
            <language-selector></language-selector>
        </div>
        <div class="my-3">
            <theme-selector></theme-selector>
        </div>
        <div class="my-3">
            <div>
                <div class='text-dark my-1'>
                    {{'EXPORT' | translate}}
                </div>
                <print-button></print-button>
                <button class="btn btn-success" ng-click="exportToExcel(tableId, worksheetName)">
                    <i class="fa fa-file-excel-o"></i>
                </button>
            </div>
        </div>
        <div class="my-3">
            <shepherd-selector></shepherd-selector>
        </div>
    </div>
</div>
