<nav class = 'navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-5'>
    <a href = '#' class = 'navbar-brand'>
        <img ng-src = '{{logoSrc}}' width = '100'/>
    </a>
    <button type = 'button' class = 'navbar-toggler' data-toggle = 'collapse' data-target = '#navigationCollapse'>
        <span class = 'navbar-toggler-icon'></span>
    </button>
    <div class = 'collapse navbar-collapse' id = 'navigationCollapse'>
        <ul class = 'navbar-nav mx-auto'>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Home</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Total Salary</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Management</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Admin Staff</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Production Staff</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Sewing-OP</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Sewing-HP</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Cutting</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Quality</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Finishing</a>
            </li>
            <li class = 'nav-item'>
                <a href = '#' class = 'nav-link'>Loader Cleaner</a>
            </li>
        </ul>
    </div>
</nav>